@charset "UTF-8";
:root {
  /*fonts*/
  /*text colors*/
  --main-txt-cl: #212121;
  --accent-txt-cl: #2196f3;
  --scnd-txt-cl: #757575;
  --light-txt-cl: #FFFFFF;
  /*background colors*/
  --dark-background-cl: #2f303a;
  --border-cl: #EEEEEE;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .header-navigation {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header-navigation .navigation {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .header-navigation .navigation {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header-container .header-list-contacts {
    display: none;
  }
}

.logo-header {
  color: rgb(0, 0, 0);
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-right: 93px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 15px;
}

.logo-header__element {
  color: var(--accent-txt-cl);
}

.navigation {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .navigation {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .navigation {
    margin-right: 90px;
    gap: 50px;
  }
}

.navigation__header-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-txt-cl);
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
@media screen and (max-width: 369px) {
  .navigation__header-link {
    font-size: 24px;
  }
}
@media screen and (min-width: 768px) {
  .navigation__header-link {
    font-size: 14px;
    line-height: 1.1;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (max-width: 767px) {
  .navigation__header-link {
    padding-top: 0;
  }
}

.navigation__header-link:hover,
.navigation__header-link:focus,
.active {
  color: var(--accent-txt-cl);
}

.navigation .navigation__header-link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -3%;
  border-radius: 2px;
  border: transparent;
  background-color: var(--accent-txt-cl);
  display: inline-block;
  outline: 1px solid var(--accent-txt-cl);
}

.header-list-contacts {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .header-list-contacts {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .header-list-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .header-list-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    margin-left: 15px;
  }
}

.header-list-contacts__item {
  display: inline-block;
}

.header-list-contacts .link-contacts {
  color: var(--scnd-txt-cl);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-list-contacts .link-contacts:hover,
.header-list-contacts .link-contacts:focus {
  color: var(--accent-txt-cl);
}

.link-contacts {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--scnd-txt-cl);
  gap: 10px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .link-contacts {
    font-size: 12px;
    line-height: 1.3;
  }
}
@media screen and (min-width: 1200px) {
  .link-contacts {
    font-size: 14px;
    line-height: 1.1;
  }
}

.link-contacts:hover .link-contacts__icon-header,
.link-contacts:focus .link-contacts__icon-header {
  fill: var(--accent-txt-cl);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contacts__icon-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  stroke: var(--scnd-txt-cl);
  fill: var(--scnd-txt-cl);
  gap: 10px;
}

.hero {
  background-color: var(--dark-background-cl);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-photo.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-photo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  font-family: inherit;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: var(--light-txt-cl);
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .hero__title {
    font-style: normal;
    font-size: 26px;
    line-height: 1.6;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-style: normal;
    font-size: 26px;
    line-height: 1.6;
  }
}
@media screen and (max-width: 1199px) {
  .hero__title {
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.4;
    width: 696px;
  }
}

.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--light-txt-cl);
  background-color: var(--accent-txt-cl);
  border: none;
  width: 216px;
  height: 50px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero__button:hover,
.hero__button:focus {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 32px;
  background-color: white;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.navigation--mobile {
  margin-bottom: auto;
}

.navigation--mobile .navigation__mobile-link {
  display: block;
  padding: 10px;
  text-decoration: none;
}

.navigation__mobile-link {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
}

.navigation--mobile_contacts {
  list-style: none;
  padding: 0;
}

.menu-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:focus .icon-menu {
  fill: var(--accent-txt-cl);
}

.navigation--mobile {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #212121;
}

.navigation__link-mobile-tel {
  font-size: 34px;
  color: var(--accent-txt-cl);
  margin-bottom: 32px;
  text-decoration: none;
}

.navigation__link-mobile-mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}

.mobile-menu__social {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.mobile-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-txt-cl);
  text-decoration: none;
}
@media screen and (max-width: 369px) {
  .mobile-menu__link {
    font-size: 12px;
  }
}

.mobile-menu__link-after::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 22px;
  color: rgba(33, 33, 33, 0.2);
  background-color: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
  margin-right: 10px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}

/*Модальне вікно*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: visibility 250ms, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--light-txt-cl);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--light-txt-cl);
  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  fill: var(--accent-txt-cl);
}

/*Наповнення модального вікна*/
.regisry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.registry-list {
  padding-left: 0;
}

.registry-form {
  padding: 0;
  margin-bottom: 12px;
  margin-right: auto;
  margin-left: auto;
}

.field-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  margin-bottom: 12px;
}

.registry-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.registry-field:not(:last-child) {
  margin-bottom: 10px;
}

.field-lable {
  display: block;
  position: relative;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: var(--scnd-txt-cl);
  text-align: left;
}

.registry-field:not(:first-child) {
  margin-top: 10px;
}

.data-field:hover,
.data-field:focus {
  fill: var(--accent-txt-cl);
}

.data-field {
  display: block;
  height: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--scnd-txt-cl);
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.data-field:hover,
.data-field:focus {
  border-color: var(--accent-txt-cl);
}

.data-field:hover + .modal-name-2 {
  fill: var(--accent-txt-cl);
}

.data-field:focus + .modal-name-2 {
  fill: var(--accent-txt-cl);
  border-color: var(--accent-txt-cl);
}

.data-field:hover + .modal-tel-2 {
  fill: var(--accent-txt-cl);
}

.data-field:focus + .modal-tel-2 {
  fill: var(--accent-txt-cl);
}

.data-field:hover + .modal-email-2 {
  fill: var(--accent-txt-cl);
}

.data-field:focus + .modal-email-2 {
  fill: var(--accent-txt-cl);
}

/*Вікно коментар*/
.modal-coments {
  display: block;
}

.modal-coments-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--scnd-txt-cl);
}

.modal-coments-area {
  display: block;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding: 12px 16px;
}

.modal-coments-area:hover {
  border: 1px solid var(--accent-txt-cl);
}

.modal-coments-area:focus {
  border: 1px solid var(--accent-txt-cl);
}

.modal-coments-area::-webkit-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-coments-area::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-coments-area:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-coments-area::-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-coments-area::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/*Іконки в модальному вікні*/
.modal-name-2,
.modal-tel-2,
.modal-email-2 {
  position: absolute;
  left: 12px;
  bottom: 11px;
}

/*Іконка CHECKBOX*/
.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.checkbox:checked + .check-icon {
  background-color: var(--accent-txt-cl);
  border-color: var(--accent-txt-cl);
  background-image: url(../images/icons/icon-check.svg);
  color: rgb(255, 255, 255);
  background-size: contain;
  background-origin: border-box;
}

.check-icon {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid rgb(33, 33, 33);
  border-radius: 4px;
}

.check-rules {
  -webkit-text-decoration-color: var(--accent-txt-cl);
          text-decoration-color: var(--accent-txt-cl);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--accent-txt-cl);
  text-decoration: underline;
}

.check-box-policy {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--scnd-txt-cl);
}

/*Кнопка Надіслати в модальному вікні*/
.modal-button {
  display: block;
  padding: 10px 56px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  color: var(--light-txt-cl);
  background: var(--accent-txt-cl);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--accent-txt-cl);
}

.modal-butteon-list {
  display: inline-block;
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.modal-button:hover,
.modal-button:focus {
  cursor: pointer;
}

/*features*/
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 0px;
  }
}

.features-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0px;
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
  }
}

.features__icon {
  background-color: #f5f4fa;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
}

.features__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-txt-cl);
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.7;
  color: var(--scnd-txt-cl);
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .features__text {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__text {
    width: 270px;
  }
}

/*our work*/
@media screen and (max-width: 1199px) {
  .our-work {
    display: none;
  }
}

.our-work__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}

.our-work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.our-work__card {
  position: relative;
}

.our-work__photo {
  display: block;
  max-width: 100%;
  height: auto;
}

.our-work__card-description {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.our-work__text {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--light-txt-cl);
}

/*team*/
.our-team {
  background-color: #f5f4fa;
}

.our-team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .our-team__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.our-team__list {
  list-style: none;
}
@media screen and (min-width: 1200px) {
  .our-team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.our-team__item {
  background-color: white;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 24px;
}
@media screen and (max-width: 1199px) {
  .our-team__item {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .our-team__item {
    padding-bottom: 30px;
  }
}

.our-team__image {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.our-team__div {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.our-team__name {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  margin: 0;
  margin-bottom: 10px;
}

.our-team__position {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--scnd-txt-cl);
  margin: 0;
  margin-bottom: 16px;
}

.clients__title {
  display: block;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--main-txt-cl);
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(50% - 15px);
  height: 92px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
    height: 92px;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
  border: 1px solid var(--accent-txt-cl);
}

.clients__icon {
  fill: #afb1b8;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-txt-cl);
}

.footer {
  background-color: var(--dark-background-cl);
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (max-width: 767px) {
  .footer-container-general {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .footer-container-general {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container-general {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .footer__box-tablet {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__box-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__box-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-box-navigation {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-left: 61px;
    padding-right: 74px;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-box-navigation {
    margin-right: 70px;
  }
}

.logo-footer {
  color: var(--accent-txt-cl);
  font-style: normal;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 20px;
  display: block;
}
@media screen and (min-width: 1200px) {
  .logo-footer {
    font-size: 26px;
    margin-bottom: 20px;
    text-align: left;
  }
}

.logo-footer__element {
  color: var(--light-txt-cl);
}

.logo-footer .logo-footer__element {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 2154px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
}

.footer-list-contacts {
  list-style: none;
  margin: 0;
  padding: 0;
  font-style: normal;
}
@media screen and (max-width: 1199px) {
  .footer-list-contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-list-contacts {
    margin-bottom: 0;
  }
}

.footer-list-contacts__item {
  margin-bottom: 9px;
}

.footer-list-contacts__adress {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  color: var(--light-txt-cl);
}

.footer-list-contacts__contacts {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 767px) {
  .footer-box-socials {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-box-socials {
    margin-right: auto;
  }
}

.footer-box-socials__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-txt-cl);
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .footer-box-socials__title {
    margin-top: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 1199px) {
  .footer-box-socials__title {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer-socials {
    margin-bottom: 60px;
    margin-top: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .footer-form {
    margin: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__container {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form__container .newsletter-title {
    margin-top: 60px;
  }
}

.newsletter-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--light-txt-cl);
  margin: 0;
  margin-bottom: 20px;
}
@media screen and (min-width: 320px) {
  .newsletter-title {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.newsletter-label {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 320px) {
  .newsletter-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .newsletter-label {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .newsletter-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.newsletter-input {
  width: 400px;
  background-color: var(--dark-background-cl);
  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 20px;
  color: #fff;
}
@media screen and (min-width: 320px) {
  .newsletter-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .newsletter-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .newsletter-input {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.newsletter-btn {
  min-width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  color: var(--light-txt-cl);
  border: none;
  cursor: pointer;
  background-color: var(--accent-txt-cl);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 320px) {
  .newsletter-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .newsletter-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .newsletter-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-bottom: 10px;
    height: 50px;
    padding-left: 28px;
    margin-left: 0;
  }
}

.newsletter-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--light-txt-cl);
}

.portfolio__section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.portfolio__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  background-color: var(--light-txt-cl);
  border: 1px solid var(--border-cl);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.portfolio__list-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  gap: 8px;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.portfolio__list-buttons .portfolio__button {
  color: var(--main-txt-cl);
  background-color: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  border: none;
  padding: 6px 22px;
  cursor: pointer;
}

.portfolio__list-buttons .portfolio__button:hover,
.portfolio__list-buttons .portfolio__button:focus,
.portfolio__list-buttons .portfolio__button:active {
  color: var(--light-txt-cl);
  background-color: var(--accent-txt-cl);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects .link-portfolio:hover,
.projects .link-portfolio:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__list-projects {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.portfolio__item {
  border-color: var(--border-cl);
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}

.portfolio__link {
  text-decoration: none;
  display: block;
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__thumb::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(102%);
          transform: translateY(102%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__photo {
  display: block;
  max-width: 100%;
  height: auto;
}

.portfolio__link:hover .portfolio__thumb::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__description {
  width: 370px;
  height: 294px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--light-txt-cl);
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio__item:hover .portfolio__description {
  opacity: 1;
}

.portfolio__card-text {
  padding: 20px 24px;
  border: 1px solid var(--border-cl);
  border-top: none;
}

.portfolio__project-name {
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--main-txt-cl);
  margin-top: 0;
  margin-bottom: 4px;
}

.portfolio__project-type {
  font-size: 16px;
  line-height: 1.875;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--scnd-txt-cl);
  margin: 0;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.socials__item {
  width: 44px;
  height: 44px;
}

.socials__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: var(--light-txt-cl);
}

.socials__link:hover,
.socials__link:focus {
  background-color: var(--accent-txt-cl);
}

.socials__item:hover .socials__icon,
.socials__item:focus .socials__icon {
  fill: var(--light-txt-cl);
}

.socials__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.footer-socials {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.footer-socials__item {
  width: 44px;
  height: 44px;
}

.footer-socials__link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-socials__link:hover,
.footer-socials__link:focus {
  background-color: var(--accent-txt-cl);
}

.footer-socials__icon {
  fill: var(--light-txt-cl);
}/*# sourceMappingURL=main.css.map */