.container {
    max-width: 479px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}

.section {
    @media screen and (max-width: 1199px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
      @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}