:root {
    /*fonts*/
    /*text colors*/
    --main-txt-cl: #212121;
    --accent-txt-cl: #2196f3;
    --scnd-txt-cl: #757575;
    --light-txt-cl: #FFFFFF;
    /*background colors*/
    --dark-background-cl: #2f303a;
    --border-cl: #EEEEEE;
}