.header {
    border-bottom: 1px solid #ececec;
}

.header-container {
    display: flex;
    align-items: baseline;
} 

.header-navigation {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

    @media screen and (min-width: 768px) {
        justify-content: space-between;
    }
} 

.header-navigation .navigation {
    margin: 0;
    padding: 0;
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.header-container .header-list-contacts {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.logo-header {
    color: rgba(0, 0, 0, 1);
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-right: 93px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 15px;
}

.logo-header__element {
    color: var(--accent-txt-cl);
}

.navigation {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

    @media screen and (max-width: 767px) {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
    }

    @media screen and (min-width: 768px) {
        margin-right: 90px;
        gap: 50px;
    }
}

.navigation__header-link {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-txt-cl);
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    @media screen and (max-width: 369px) {
      font-size: 24px;
    }

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.1;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    @media screen and (max-width: 767px) {
        padding-top: 0;
    }
}

.navigation__header-link:hover,
.navigation__header-link:focus,
.active {
    color: var(--accent-txt-cl);
} 

.navigation .navigation__header-link.current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0%;
    border-radius: 2px;
    border: transparent;
    background-color: var(--accent-txt-cl);
    display: inline-block;
    outline: 1px solid var(--accent-txt-cl);

    @media screen and (min-width: 767px) and (max-width: 1199px) {
        bottom: -8%;
    }
} 

.header-list-contacts {
    list-style: none;
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
        display: none;
    }
  
    @media screen and (max-width: 1199px) {
        flex-direction: column;
        gap: 10px;
        align-items: unset;
        margin-right: 0;
        margin-left: auto;
        justify-content: center;
        margin-bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      gap: 50px;
      margin-left: auto;
    }

}

.header-list-contacts__item {
    display: inline-block;
}

.header-list-contacts .link-contacts {
    color: var(--scnd-txt-cl);
    display: flex;
}

.header-list-contacts .link-contacts:hover,
.header-list-contacts .link-contacts:focus {
    color: var(--accent-txt-cl);
}

.link-contacts {
    text-decoration: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;

    @media screen and (min-width: 768px) {
      font-size: 12px;
      line-height: 1.3;
    }
    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.1;
    }

    align-items: center;
    color: var(--scnd-txt-cl);
    gap: 10px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contacts:hover .link-contacts__icon-header,
.link-contacts:focus .link-contacts__icon-header {
    fill: var(--accent-txt-cl);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contacts__icon-header {
    display: flex;
    align-items: center;
    justify-content: center;
    stroke: var(--scnd-txt-cl);
    fill: var(--scnd-txt-cl);
    gap: 10px;
} 
