/*our work*/

.our-work__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);

    text-align: center;
    margin: 0;
    margin-bottom: 50px;
}

.our-work__list {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.our-work__card {
    position: relative;
}

.our-work__photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.our-work__card-description {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
}

.our-work__text {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--light-txt-cl);
}
